<ul class="sidebar-menu" data-widget="tree">
    <li class="header">HEADER</li>


    <!-- Optionally, you can add icons to the links -->
    <li><a href="/Dashboard/Index"><i class="fa fa-dashboard"></i> <span>Create New Dashboard</span></a></li>
    <li><a href="/Dashboard/SelectDashboard"><i class="fa fa-dashboard"></i> <span>Edit Dashboard</span></a></li>
    <li><a href="/Dashboard/MapDashboards"><i class="fa fa-dashboard"></i> <span>Map Dashboards</span></a></li>
    <li><a href="/Dashboard/ElementList/1"><i class="fa fa-dashboard"></i> <span>Create New Widget</span></a></li>
    <li><a href="/Dashboard/EditWidgets"><i class="fa fa-dashboard"></i> <span>Edit Widget</span></a></li>
    <li><a href="/Dashboard/WidgetsList"><i class="fa fa-dashboard"></i> <span>Show All Widgets</span></a></li>

    <li class="treeview">
        @Html.DropDownList("RoleId", new SelectList(new List<string>(), "ID", "BusinessRoleName"), new { @class = "form-control form-control-lg menuroledropdown" })
    </li>

    <li class="treeview">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboards</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu" id="menu">
        </ul>
    </li>


</ul>



<script>
    function AppendBoardsToDropdonw() {
        if (parseInt($('.menuroledropdown').val()) > 0) {

            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("GetDashboardsByRole", "Dashboard")',
                data: {
                    RoleId: parseInt($('.menuroledropdown').val())
                },
                error: function (result) {
                    alert(result);
                },
                success: function (result) {

                    var menu = null;
                    $.each(result, function (key, value) {
                        menu += '<li><a href="/Dashboard/Dashboard/' + value.id + '">' + value.name + '</a></li>';
                    });
                    $("#menu").html(menu);

                }
            });
        }
    }

    $(function() {

        $.ajax(
        {
            type: "POST",
            url: '@Url.Action("GetBusinessRolesList", "Dashboard")',
            error: function (result) {
                alert(result);
            },
            success: function (result) {
                var menu = '';
                $.each(result, function (key, value) {

                    menu += "<option value='" + value.id + "'>" + value.businessRoleName+"</option>";
                });
                $(".menuroledropdown").html(menu);
            }
            });

        $.ajax(
        {
            type: "POST",
            url: '@Url.Action("GetDashboardsList", "Dashboard")',
            error: function (result) {
                alert(result);
            },
            success: function (result) {
                var menu = null;
                $.each(result, function (key, value) {
                    menu += '<li><a href="/Dashboard/Dashboard/' + value.id + '">' + value.name + '</a></li>';

                });
                $("#menu").html(menu);
            }
        });

        $('.menuroledropdown').change(function () {
            AppendBoardsToDropdonw();
        })
});
</script>