
@model IEnumerable<Widget>

@{
    ViewBag.Title = "Dashboard Elements";

    //int dashboardID = (Model != null && Model.Count() > 0 && Model.Where(m => m.IsAccessble).ToList().Count() > 0) ? Model.Where(m => m.IsAccessble).ToList().FirstOrDefault().DashboardID : 0;

    int dashboardID = 0;

    @if (ViewBag.DashboardId != null)
    {
        dashboardID = (int)ViewBag.DashboardId;
    }
}

<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>


<!-- Content Header (Page header) -->
<br />

<section class="content-header">
    <div>
        <span>@(dashboardID>0 ? "Edit ": "Create ")</span>&nbsp;<input type="text" value="@(ViewBag.Dashboardname)" id="Dashboardname" />&nbsp; <span>Dashboard</span>
    </div>
</section>

<br />


<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Default Widgets</h1>
                </div>
                <div id="container1" class="panel-body box-container">
                    @foreach (var widg in Model.Where(m => m.IsDefaulted && m.IsAccessble).ToList())
                    {
                        Html.RenderPartial("Element" + widg.ElementTemplateID + ".cshtml", widg);
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Optional Widgets</h1>
                </div>
                <div id="container2" class="panel-body box-container">
                    @foreach (var widg in Model.Where(m => !m.IsDefaulted && m.IsAccessble).ToList())
                    {
                        Html.RenderPartial("Element" + widg.ElementTemplateID + ".cshtml", widg);
                    }
                </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">Available Widgets</h1>
                </div>
                <div id="container3" class="panel-body box-container">
                    @foreach (var widg in Model.Where(m => !m.IsAccessble).ToList())
                    {
                        Html.RenderPartial("Element" + widg.ElementTemplateID + ".cshtml", widg);
                    }
                </div>
            </div>
        </div>

    </div>
</div>

<br>
<div align="center">
    <button type="button" class="btn btn-success custom-btn waves-effect waves-light" data-dismiss="modal" data-toggle="modal" onclick="Next('@dashboardID')">@(dashboardID>0? "Update":"Create")&nbsp;Dashboard</button>
</div>

<style type="text/css">
    /* Styles go here */

    /*.box-container {
        height: 200px;
    }*/

    .box-item {
        width: 100%;
        z-index: 1000;
        padding: 10px;
        margin-bottom: 5px;
        text-shadow: 0 0 black;
    }
</style>

<script type="text/javascript">

    var DashboardViewModel = {
        Id: 0,
        Name : '',
        SelectedElements : '',
        DefaultedElements: '',
        SelectedElementsWithOrder: [],
        DefaultedElementsWithOrder: []
    };

    var DashboardLinkedElement = {
        DashboardId  : 0,
        WidgetID: 0,
        IsDefaultElement: false,
        Position : 0
    }

    SelectedElementsWithOrder = [];
    DefaultedElementsWithOrder = [];

    function Next(Id) {
        debugger;
        var arr1 = [];
        var arr2 = [];

        $("#container1").find(".box-item").each(function () { arr1.push($(this).attr("itemid")); });
        $("#container2").find(".box-item").each(function () { arr2.push($(this).attr("itemid")); });

        arr1 = arr1.filter(function (element) {
            return element !== undefined;
        });

        arr2 = arr2.filter(function (element) {
            return element !== undefined;
        });

        var itemOrder1 = $('#container1').sortable("toArray");
        var itemOrder2 = $('#container2').sortable("toArray");

        var container1Items = itemOrder1.filter(function (v) { return v !== '' });
        var container2Items = itemOrder2.filter(function (v) { return v !== '' });

        $.each(container1Items, function (indexer, item) {
            var DashboardLinkedElement = {
                DashboardId: Id,
                WidgetID: item,
                IsDefaultElement: true,
                Position: indexer
            };

            DefaultedElementsWithOrder.push(DashboardLinkedElement);
        });
        $.each(container2Items, function (indexer, item) {
            var DashboardLinkedElement = {
                DashboardId: Id,
                WidgetID: item,
                IsDefaultElement: false,
                Position: indexer
            };

            SelectedElementsWithOrder.push(DashboardLinkedElement);
        });

        DashboardViewModel.Id = Id;
        DashboardViewModel.Name = $('#Dashboardname').val();
        DashboardViewModel.DefaultedElements = arr1.join(",");
        DashboardViewModel.SelectedElements = arr2.join(",");
        DashboardViewModel.DefaultedElementsWithOrder = DefaultedElementsWithOrder;
        DashboardViewModel.SelectedElementsWithOrder = SelectedElementsWithOrder;

        $.ajax(
        {
            type: "POST",
            url: '@Url.Action("UpdateDashboard", "Dashboard")',
            //data: {
            //    Id: Id,
            //    DefaultedElements: arr1.join(","),
            //    SelectedElements: arr2.join(","),
            //    Name: $('#Dashboardname').val()
            //},
            data: DashboardViewModel,
            error: function (result) {
                alert("error");
            },
            success: function (result) {

                if (result != "False") {
                    window.location = "/Dashboard/Dashboard/"+result;
                }
                else {
                    alert("There is a Problem!");
                }
            }
        });

    }

    function Next1(Id) {

        var itemOrder1 = $('#container1').sortable("toArray");
        var itemOrder2 = $('#container2').sortable("toArray");

        var container1Items = itemOrder1.filter(function (v) { return v !== '' });
        var container2Items = itemOrder2.filter(function (v) { return v !== '' });

    }

    $(document).ready(function () {

        $('#container1, #container2, #container3').sortable();
        

        $('.box-item').draggable({
            cursor: 'move',
            connectToSortable: ".box-container"
        });

        $("#container1").droppable({
            drop: function (event, ui) {
                var x;
                var itemid = $(event.originalEvent.toElement).attr("itemid");
                $('.box-item').each(function () {
                    if ($(this).attr("itemid") === itemid) {
                        $(this).appendTo("#container1");
                    }
                });
            }
        });

        $("#container2").droppable({
            drop: function (event, ui) {
                var itemid = $(event.originalEvent.toElement).attr("itemid");
                $('.box-item').each(function () {
                    if ($(this).attr("itemid") === itemid) {
                        $(this).appendTo("#container2");
                    }
                });
            }
        });

        $("#container3").droppable({
            drop: function (event, ui) {
                var itemid = $(event.originalEvent.toElement).attr("itemid");
                $('.box-item').each(function () {
                    if ($(this).attr("itemid") === itemid) {
                        $(this).appendTo("#container3");
                    }
                });
            }
        });

    });

</script>